.tagUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  box-sizing: border-box;
}

.inputWrapper {
  display: flex;
}

.autoComplete {
  width: 100%;
}
