.header {
  padding: 8px 16px;
  border-bottom: 1px #1f1f1f solid;
  align-items: center;
  justify-content: space-between;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.descUser {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.iconPhone {
  font-size: 28px;
  transform: rotate(0deg);
  color: #177ddc;
}

.wrapper {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inputWrapper {
  border-top: 1px solid #202020;
  position: relative;
}

.inputMessage {
  outline: none;
  padding: 10px 16px;
  width: 100%;
  background-color: transparent;
  border: none;
}

.send {
  position: absolute !important;
  right: 6px;
  top: 50%;
  margin-top: -16px;
  font-size: 18px;
}

.messageCase {
  margin: 2px 0;
  padding: 0 4px;
  align-self: flex-start;
}

.messageCaseRight {
  align-self: flex-end;
}

.messageContent {
  margin-left: 8px;
}

.messageTime {
  font-size: 9px;
  padding-top: 5px;
  padding-left: 8px;
}

.messageText {
  border-radius: 4px;
  background-color: #191919;
  padding: 4px 8px;
}

.phone {
  cursor: pointer;
}
